* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  display: inline-block;
}
#main {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
#top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #c90022;
}
#topfont {
  padding-left: 40px;
  display: flex;
}
#topfont button {
  background: transparent;
  border: none;
  padding: 2px;
}
#Toplangauge {
  padding-left: 5px;
}
#Toplangauge select {
  border-radius: 5px;
  padding: 2px;
}
#TopsignIn {
  padding-right: 40px;
}
#TopsignIn button {
  border-radius: 5px;
  padding: 3px 5px;
  background-color: black;
  color: white;
}
#header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 140px;
  background-color: whitesmoke;
  padding: 5px 20px;
}
#header img {
  box-sizing: border-box;
  width: 10vw;
  height: 100px;
}
#header div {
  margin-left: 50px;
}
#header div h3 {
  text-align: center;
  font-size: 2vw;
  font-weight: 800;
}
#header div h4 {
  text-align: center;
  font-size: 1vw;
  line-height: 1px;
  font-weight: 700;
}
#hdrimg {
  margin-left: 50px;
}
#hdrimg img {
  width: 20vw;
  height: auto;
}
.container {
  margin-top: 10px;
}
#nav {
  display: none;
}
#navbar {
  background-color: #c90022;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  height: 5vw;
}
#navbar div select {
  background: transparent;
  border: none;
  font-size: 1.5vw;
  font-weight: 600;
  color: white;
}

#mainbody {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  height: 25vw;
}
#mainbody div h4 {
  text-align: center;
  font-weight: 600;
}
#box-border {
  border-top: 5px solid gray;
  padding: 10px 5px;
  margin-left: 80px;
  height: 20vw;
  display: flex;
  justify-content: center;
}
#box-border table {
  padding: 5px;
  font-size: 1vw;
  font-weight: 550;
}
#gallery-div {
  margin-right: 80px;
  height: 20vw;
}
#gallery-heading h4 {
  text-align: center;
  font-size: 2vw;
  font-weight: 600;
}
#img-item {
  padding: 5px;
  gap: 5px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
#img-item div img {
  height: 9vw;
  width: 10vw;
}
#about {
  margin-top: 20px;
  background-color: gray;
  padding: 10px;
  opacity: 0.9;
}
#about h3 {
  padding-left: 20px;
  font-size: 25px;
  font-weight: 700;
  color: black;
  opacity: none;
}
#aboutdata {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
#aboutdata p {
  font-size: 1em;
  font-weight: 600;
  color: black;
}
#aboutdata img {
  height: 10vw;
  width: 30vw;
}
#scheme {
  background-color: whitesmoke;
  margin-top: 0;
}
#scheme h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
#scheme-item div {
  display: flex;
  justify-content: center;
  gap: 20px;
}
#scheme-item div a {
  text-decoration: none;
}
#scheme-item div a :hover {
  color: blue;
}
#scheme-item div a h6 {
  font-size: 1.1vw;
  color: black;
}
#footer {
  margin-top: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 20px;
}
#footer p {
  font-size: 15px;
}
#footer-item {
  padding-top: 10px;
}
#feedback-form {
  margin-top: 10px;
}
#feedback input {
  width: 300px;
  border: none;
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 2px;
  gap: 4px;
}
#feedback-form input {
  width: 400px;
  height: 5vw;
  border-radius: 10px;
}
#feedback-form button {
  background-color: grey;
  margin-left: 5px;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
  width: 6vw;
  font-size: 15px;
  font-weight: 600;
}
#feedback-form button:hover {
  background-color: red;
}
@media (max-width: 768px) {
  html,
  body {
    width: 100vh;
  }
  #main {
    display: block;
    width: 100%;
  }
  #top {
    height: 10vh;
    padding: 10px 3px;
    font-size: 2vh;
  }
  #header {
    height: 15vh;
    border-bottom: 1px solid black;
  }
  #header img {
    width: 7vh;
    height: auto;
  }
  #header div h3 {
    font-size: 3vh;
    font-weight: 600;
  }
  #header div h4 {
    font-size: 2vh;
    font-weight: 300;
  }
  #hdrimg img {
    width: 15vh;
    height: auto;
  }
  #header div {
    margin-left: 10px;
  }
  #img-item div img {
    margin-left: 30px;
  }

  #nav {
    display: block;
  }
  #navbar {
    display: none;
  }
  #mainbody {
    display: block;
    width: 100%;
  }
  #mainbody div {
  }
  #box-border {
    margin: auto;
    padding: 20px;
  }
  #box-border table {
    font-size: 1.7vh;
  }
  #gallery-div {
    margin-top: 25vh;
  }
  #img-item {
    margin-right: 0;
  }
  #img-item div img {
    height: 10vh;
    width: 15vh;
  }
  #about {
    margin-top: 60vh;
  }
  #aboutdata p {
    font-size: 1vh;
    font-weight: 600;
  }
  #aboutdata img {
    display: none;
  }
  #scheme {
    margin-top: 10px;
  }
  #scheme-item div {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  #scheme-item div a h6 {
    font-size: 1.5vh;
  }
  #footer {
    height: 35vh;
    display: flex;
    flex-direction: column;
  }
  #footer h4 {
    font-size: 2vh;
  }
  #footer p {
    font-size: 10px;
  }
  #feedback-form button {
    margin-top: 5px;
    width: 9vh;
  }
  #feedback-form input {
    width: 300px;
    height: 5vh;
  }
}

/* signin */
#card-box {
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 35rem;
  background-color: antiquewhite;
}
.card-body {
  text-align: center;
}
.card-body input {
  width: 20rem;
  margin-top: 5px;
}
.card-body a {
  margin-top: 50px;
  width: 20rem;
}
.card-footer {
  display: flex;
  justify-content: space-between;
}
.card-footer a {
  text-decoration: none;
  color: #000;
}
